body {
  /* text-align: center; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_header {
  width: 100%;
  height: 200px;
  background-color: #FF33AE;
  display: flex;
  justify-content: center;
}

.write_todo {
  width: 70%;
  height: 130px;
  margin-top: 7rem;
  border: 1px solid #FF33AE;
  background-color: white;
  color: rgb(80, 80, 80);
  box-shadow: 15px 15px 15px darkgray;
  text-align: center;
}

.sub_write_todo {
  display: flex;
  justify-content: space-evenly;

}

input {
  width: 70%;
  padding: 0.5rem;
}

button {
  background-color: #FF33AE;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

.todo_list {
  width: 70%;
  height: 500px;
  background-color: white;
  border: 1px solid #FF33AE;
  margin-top: 5rem;
  box-shadow: 15px 15px 15px darkgray;
  padding: 2rem 3rem;
}

.todo_list img {
  width: 50px;
}

.dolist {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.dolist li {
  margin: 1rem;
}